@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
:target {
  scroll-margin-top: 80px;
}

.fancybox__container {
  z-index: 1999;
}

.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}

* {
  margin: 0;
  padding: 0;
  line-height: 32px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #614b79;
  height: 300px;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
.header {
  width: 100%;
  height: 80px;
  padding-left: 20px;
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 99999;
}
.header.sticky {
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  animation: 0.5s ease-in-out 0s normal none 1 running fadeInDown;
}
.header .headerAsideIcon {
  display: none;
  width: 36px;
  height: 36px;
  padding: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
  cursor: pointer;
  z-index: 9999;
}
@media (max-width: 768px) {
  .header .headerAsideIcon {
    display: flex;
  }
}
.header .headerAsideIcon .iconBar {
  width: 28px;
  height: 2px;
  flex-shrink: 0;
  background: #614b79;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.header .container {
  height: 80px;
}
.header .container .logo {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .container .logo img {
  max-height: 54px;
}
.header .container .nav-links {
  height: 100%;
}
@media (max-width: 768px) {
  .header .container .nav-links {
    position: fixed;
    transition: all 0.5s ease-in-out;
    left: -100%;
    top: 80px;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #fff;
  }
  .header .container .nav-links.showing {
    left: 0;
  }
  .header .container .nav-links ul {
    flex-direction: column;
    justify-content: center;
  }
  .header .container .nav-links ul .nav-link {
    height: 70px !important;
  }
}
.header .container .nav-links ul {
  display: flex;
  height: 100%;
  position: relative;
}
@media (max-width: 768px) {
  .header .container .nav-links ul {
    overflow-y: auto;
  }
}
.header .container .nav-links ul .nav-link {
  height: 100%;
  padding: 0 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  flex-wrap: wrap;
}
.header .container .nav-links ul .nav-link:hover .submenu {
  display: flex;
}
.header .container .nav-links ul .nav-link.open .submenu {
  display: flex;
}
.header .container .nav-links ul .nav-link a,
.header .container .nav-links ul .nav-link span {
  color: #858585;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
}
.header .container .nav-links ul .nav-link a:hover, .header .container .nav-links ul .nav-link a.active,
.header .container .nav-links ul .nav-link span:hover,
.header .container .nav-links ul .nav-link span.active {
  color: #614b79;
}
.header .container .nav-links ul .nav-link a:hover::after, .header .container .nav-links ul .nav-link a.active::after,
.header .container .nav-links ul .nav-link span:hover::after,
.header .container .nav-links ul .nav-link span.active::after {
  width: 100%;
}
.header .container .nav-links ul .nav-link a::after,
.header .container .nav-links ul .nav-link span::after {
  transition: all 0.3s ease-in-out;
  content: "";
  background: #614b79;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
}
.header .container .nav-links ul .nav-link .submenu {
  padding: 20px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
  display: none;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999999;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 200px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
@media (max-width: 768px) {
  .header .container .nav-links ul .nav-link .submenu {
    position: relative;
    top: unset;
    width: 100%;
    box-shadow: none;
  }
}
.header .container .btns .language {
  border-radius: 8px;
  background: #614b79;
  padding: 6px 12px;
  color: #fff;
  font-size: 14px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .container .btns .btn {
  border-radius: 8px;
  background: #614b79;
  padding: 6px 12px;
  color: #fff;
  font-size: 14px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .container .btns .btn i {
  font-size: 18px;
}
.header .container .btns .toogler {
  display: none;
  width: 45px;
}
@media (max-width: 768px) {
  .header .container .btns .toogler {
    display: block;
  }
}

.content {
  flex: 1 0 0;
}
.content .hero-section {
  position: relative;
  margin-top: 16px;
}
.content .hero-section .container .row {
  margin: 0;
  border-radius: 32px;
  background-image: linear-gradient(-270deg, #4c3b5e 13.9%, #614b79 75.76%);
  height: calc(100vh - 100px);
  max-height: 700px;
  padding: 32px 64px;
  overflow: hidden;
}
@media (max-width: 576px) {
  .content .hero-section .container .row {
    padding: 32px 24px;
    height: calc(120vh - 100px);
  }
}
.content .hero-section .mockup {
  position: relative;
  display: flex;
  align-items: center;
  isolation: isolate;
  transform: translateY(80px);
  justify-content: center;
}
@media (max-width: 576px) {
  .content .hero-section .mockup {
    transform: translateY(50px);
  }
}
.content .hero-section .mockup img {
  width: 70%;
  margin-left: 40px;
}
.content .hero-section .mockup img:nth-child(2) {
  margin-left: -160px;
  margin-bottom: -150px;
  z-index: -1;
}
.content .hero-section .content-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
.content .hero-section .content-wrap h1 {
  font-size: 38px;
  font-weight: bold;
  line-height: 54px;
  font-weight: 600;
  color: #fff;
}
@media (max-width: 992px) {
  .content .hero-section .content-wrap h1 {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .content .hero-section .content-wrap h1 {
    font-size: 30px;
    line-height: 46px;
  }
}
.content .hero-section .content-wrap p {
  color: #fff;
  line-height: 28px;
  font-size: 16px;
}
@media (max-width: 992px) {
  .content .hero-section .content-wrap p {
    text-align: center;
  }
}
.content .hero-section .content-wrap .btns {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.content .hero-section .content-wrap .btns img {
  height: 52px;
}
@media (max-width: 768px) {
  .content .hero-section .content-wrap .btns {
    justify-content: center;
  }
}
.content .statics .about-description {
  padding-left: 16px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.content .statics .about-description h6 {
  color: #614b79;
}
.content .statics .about-description h2 {
  color: #000000;
  margin-bottom: 24px;
  font-size: 32px;
}
.content .statics .about-description h2 span {
  background-image: linear-gradient(270deg, #071633 13.9%, #278867 75.76%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content .statics .about-description p {
  margin-top: 8px;
  font-size: 15px;
  line-height: 26px;
  color: #777777;
}
.content .statics .about-description ul li {
  margin-bottom: 8px;
  display: flex;
  gap: 8px;
}
.content .statics .about-description ul li span {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #614b79;
  border-radius: 50%;
}
.content .statics .about-description ul li span i {
  color: #fff;
}
.content .statics .img {
  width: 100%;
  position: relative;
}
@media (max-width: 576px) {
  .content .statics .img {
    margin-top: 32px;
  }
}
.content .statics .img .image {
  -o-object-position: left;
     object-position: left;
  border-radius: 24px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
}
.content .statics .img .thumb {
  background: #fff;
  position: absolute;
  padding: 32px;
  bottom: -42px;
  right: -42px;
  max-width: 260px;
  z-index: 999;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
  border-radius: 24px;
}
@media screen and (max-width: 768px) {
  .content .statics .img .thumb {
    left: 50%;
    transform: translateX(-50%);
    width: 240px;
    bottom: -70px;
  }
}
.content .statics .img .thumb img {
  border-radius: 0;
  max-height: 48px;
}
.content .statics .img .thumb p {
  font-size: 14px;
  color: #614b79;
  margin: 0;
  line-height: 20px;
}
.content .statics .img .thumb h6 {
  font-size: 18px;
  text-align: center;
  color: #000000;
  margin: 0;
  line-height: 26px;
}
.content .statics .features {
  background: #fdfbff;
  margin: 120px 0 70px 0;
}
.content .statics .statics-card {
  box-shadow: rgba(0, 0, 0, 0.05) -5px 6px 20px 0px;
  padding: 32px 16px;
  border-radius: 16px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content .statics .statics-card img {
  max-height: 64px;
  margin-bottom: 16px;
}
.content .statics .statics-card h4 {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin: 0;
  color: #000000;
}
.content .statics .statics-card p {
  color: #614b79;
  margin: 0;
  font-weight: 500;
}
.content .appImgs {
  padding: 70px 0;
  position: relative;
}
.content .appImgs .swiper {
  width: 100%;
  padding: 30px 0;
  position: relative;
  display: flex;
}
.content .appImgs .swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 234px;
  height: 507px;
  position: relative;
}
@media (max-width: 768px) {
  .content .appImgs .swiper .swiper-slide {
    width: 175.5px;
    height: 380px;
  }
}
.content .appImgs .swiper .swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 16px;
}
.content .appImgs .swiper .frame {
  width: 267px;
  height: 514px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
@media (max-width: 768px) {
  .content .appImgs .swiper .frame {
    width: 202.5px;
    height: 401px;
  }
}
.content .appImgs .swiper-wrapper {
  height: auto;
}
.content .appImgs .swiper-3d .swiper-slide-shadow,
.content .appImgs .swiper-3d .swiper-slide-shadow-bottom,
.content .appImgs .swiper-3d .swiper-slide-shadow-left,
.content .appImgs .swiper-3d .swiper-slide-shadow-right,
.content .appImgs .swiper-3d .swiper-slide-shadow-top {
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.062745098);
  border: 4px solid #fff;
}
.content .appImgs .swiper-3d .swiper-slide-shadow-left {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}
.content .appImgs .swiper-3d .swiper-slide-shadow-right {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}
.content .how {
  padding: 80px 0;
}
.content .how .sectionTitle {
  margin-bottom: 32px !important;
}
.content .how .sectionTitle h2 {
  color: #614b79;
  font-weight: 600;
}
.content .how .how-card {
  background: #fff;
  padding: 22px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
  border-radius: 12px;
}
.content .how .how-card .icon {
  width: 45px;
  height: 45px;
  background: #e8e3ee;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.content .how .how-card .icon h3 {
  color: #614b79;
  margin: 0;
}
.content .how .how-card h6 {
  margin: 0;
  font-size: 16px;
  color: #000000;
}
.content .how .how-card p {
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  margin: 0;
  margin-top: 12px;
}
.content .features {
  position: relative;
  padding: 60px 0;
}
.content .features .toop {
  position: absolute;
  right: 40px;
  top: 100px;
  animation: swing-right 5s linear infinite;
}
@media (max-width: 450px) {
  .content .features .toop {
    top: 20px;
  }
}
.content .features .bottom {
  position: absolute;
  left: 40px;
  bottom: 0;
  animation: swing-left 5s linear infinite;
}
@keyframes swing-left {
  0% {
    left: 40px;
  }
  25% {
    left: 60px;
  }
  50% {
    left: 80px;
  }
  75% {
    left: 60px;
  }
  100% {
    left: 40px;
  }
}
@keyframes swing-right {
  0% {
    right: 40px;
  }
  25% {
    right: 60px;
  }
  50% {
    right: 80px;
  }
  75% {
    right: 60px;
  }
  100% {
    right: 40px;
  }
}
.content .features .title {
  color: #000000;
  font-weight: 600;
  margin-bottom: 48px;
}
.content .features .feature-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
  background: #fff;
  height: 100%;
  padding: 24px 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 9;
}
.content .features .feature-card .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #614b79;
  border-radius: 16px;
  height: 78px;
  width: 78px;
  margin-bottom: 28px;
}
.content .features .feature-card .icon img {
  max-height: 40px;
}
.content .features .feature-card h4 {
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 12px;
}
.content .features .feature-card p {
  margin: 0;
  text-align: center;
  color: #858585;
  line-height: 24px;
  font-size: 14px;
}
.content .faq {
  padding: 60px 0;
}
.content .faq h3 {
  color: #000000;
  font-weight: 600;
  margin-bottom: 32px;
  font-size: 28px;
}
@media (max-width: 768px) {
  .content .faq h3 {
    text-align: center;
  }
}
.content .faq img {
  max-width: 100%;
}
.content .contact-us {
  padding: 70px 0;
  position: relative;
}
.content .contact-us .map-area {
  margin-top: 60px;
  padding: 0 30px;
}
.content .contact-us form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.content .contact-us form input,
.content .contact-us form textarea {
  border: none;
  background: none;
  outline: none;
  background: #ffffff;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 14px;
  color: #000000;
  border: 1px solid #f4f4f4;
}
.content .contact-us form button {
  width: 120px;
  border: none;
  background: none;
  outline: none;
  background: #614b79;
  color: #fff;
  align-self: flex-end;
  height: 40px;
  margin-top: 16px;
  border-radius: 8px;
}
.content .contact-us .map-area {
  padding: 0 24px;
}
@media (max-width: 768px) {
  .content .contact-us .map-area {
    margin-top: 40px;
  }
}
.content .contact-us .img img {
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 16px;
  -o-object-position: center;
     object-position: center;
}
.content .download-app {
  width: 100%;
  padding: 70px 0;
}
.content .download-app .mouckups {
  margin-top: 20px;
  aspect-ratio: 1/1;
  width: 100%;
  max-height: 600px;
  position: relative;
}
.content .download-app .mouckups #center {
  max-height: 574px;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 9;
  transform: translateX(-50%);
}
@media (max-width: 576px) {
  .content .download-app .mouckups #center {
    max-height: -moz-fit-content;
    max-height: fit-content;
    max-width: 50%;
  }
}
.content .download-app .mouckups #right {
  position: absolute;
  left: 85%;
  bottom: 0;
  max-height: 450px;
  transform: translateX(-85%) rotate(24deg);
}
@media (max-width: 768px) {
  .content .download-app .mouckups #right {
    transform-origin: 70%;
    left: 100%;
    transform: translateX(-100%) rotate(30deg);
  }
}
@media (max-width: 576px) {
  .content .download-app .mouckups #right {
    transform: translateX(-100%) rotate(5deg);
    max-width: 40%;
  }
}
.content .download-app .mouckups #left {
  position: absolute;
  left: 15%;
  bottom: 0;
  max-height: 450px;
  transform: translateX(-15%) rotate(-24deg);
}
@media (max-width: 768px) {
  .content .download-app .mouckups #left {
    transform-origin: 32%;
    left: 0;
    transform: translateX(0) rotate(-30deg);
  }
}
@media (max-width: 576px) {
  .content .download-app .mouckups #left {
    transform: translateX(0%) rotate(-5deg);
    max-width: 40%;
  }
}
.content .careersForm {
  padding: 40px 0;
}
.content .careersForm .title {
  margin: auto;
  color: #000000;
  text-transform: none;
  padding: 0 24px;
  position: relative;
}
.content .careersForm .title::before {
  content: "";
  display: block;
  position: absolute;
  right: 40px;
  bottom: 10px;
  height: 24px;
  width: 40px;
  background-color: #614b79;
  z-index: -1;
  border-radius: 16px 0px;
}
.content .careersForm .subtitle {
  margin: auto;
  color: #858585;
  text-transform: none;
  padding: 0 24px;
  position: relative;
  margin-top: 10px;
  text-align: center;
}
.content .careersForm form {
  padding: 48px 0 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.content .careersForm form .reverseAuthForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}
.content .careersForm form .reverseAuthForm span {
  font-size: 14px;
  color: #333;
}
.content .careersForm form .reverseAuthForm a {
  font-size: 14px;
  color: #614b79;
}
.content .careersForm form .termsAgreementBox {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
}
.content .careersForm form .termsAgreementBox input[type=checkbox] {
  width: 20px;
  height: 20px;
}
.content .careersForm form .termsAgreementBox input[type=checkbox]:hover {
  cursor: pointer;
}
.content .careersForm form .termsAgreementBox label {
  white-space: nowrap;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  text-wrap: balance;
}
.content .careersForm form .termsAgreementBox label a {
  color: #614b79;
  text-decoration: underline;
}
.content .careersForm form .otpCodesContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.content .careersForm form .otpCodesContainer input {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #858585;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.content .careersForm form .otpCodesContainer input:focus {
  outline: none;
  border-bottom-color: #000;
}
.content .careersForm form .otpTimerBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  flex-wrap: wrap;
}
.content .careersForm form .otpTimerBox .otpTimer {
  font-size: 14px;
  color: #000000;
}
.content .careersForm form .otpTimerBox .otpLink {
  font-size: 14px;
  color: #614b79;
  cursor: pointer;
}
.content .careersForm form label {
  font-size: 14px;
}
.content .careersForm form .forgetLink {
  font-size: 13px;
  text-align: left;
  color: #614b79;
  margin-top: 8px;
  position: relative;
  display: inline-block;
}
.content .careersForm form .send {
  background-color: #614b79;
  padding: 16px;
  width: min(100% - 24px, 300px);
  margin: auto;
  color: #fff;
  border-radius: 100px;
  outline: none;
  border: none;
}
.content .careersForm form input::-moz-placeholder {
  color: #858585;
}
.content .careersForm form input::placeholder {
  color: #858585;
}
.content .contentBody {
  padding: 40px 0;
}
.content .contentBody .bodyHeading {
  padding: 0 24px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.content .contentBody .bodyHeading .headingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.content .contentBody .bodyHeading .headingWrapper h5 {
  position: relative;
  margin: 0;
}
.content .contentBody .bodyHeading .headingWrapper img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .contentBody .moneyBox {
  width: 100%;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.content .contentBody .moneyBox .moneyValue {
  font-weight: 700;
  display: inline-block;
  font-size: 32px;
}
.content .contentBody .moneyBox .moneyCurrency {
  font-size: 18px;
  font-weight: 400;
}
.content .contentBody .bodyContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.content .contentBody .bodyContainer .statisticsCardsContainer {
  padding: 16px;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
.content .contentBody .bodyContainer .statisticsCardsContainer .card {
  box-shadow: none !important;
}
.content .contentBody .bodyContainer .statisticsCardsContainer .statisticsCard {
  min-width: 300px;
  padding: 20px;
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background-color: #fefefe;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 2px 1px #777;
  cursor: pointer;
}
.content .contentBody .bodyContainer .statisticsCardsContainer .statisticsCard .cardheading {
  color: #858585;
  font-weight: 500;
}
.content .contentBody .bodyContainer .statisticsCardsContainer .statisticsCard .cardContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: flex-start;
}
.content .contentBody .bodyContainer .statisticsCardsContainer .statisticsCard .cardContent .value {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  width: 100%;
}
.content .contentBody .bodyContainer .statisticsCardsContainer .statisticsCard .cardContent .status {
  display: flex;
  white-space: nowrap;
  flex-wrap: wrap;
  gap: 4px;
  font-size: 14px;
}
.content .contentBody .bodyContainer .statisticsCardsContainer .statisticsCard .cardContent .status .statusValue.gain {
  color: rgb(10, 117, 10);
}
.content .contentBody .bodyContainer .statisticsCardsContainer .statisticsCard .cardContent .status .statusValue.lose {
  color: rgb(226, 50, 50);
}
.content .contentBody .bodyContainer .statisticsChartsContainer {
  padding: 16px;
  width: 100%;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.content .contentBody .bodyContainer .statisticsChartsContainer .statisticsChartBox {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 300px;
  background: #fefefe;
  box-shadow: 0px 8px 24px rgba(27, 46, 94, 0.12);
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.content .contentBody .bodyContainer .latestOrdersSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  padding: 16px;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersHeading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  position: relative;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersHeading a {
  color: #614b79;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer {
  width: 100%;
  display: flex;
  gap: 20px;
  position: relative;
  flex-wrap: wrap;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer .orderBox {
  min-width: 300px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 40px;
  background-color: #fefefe;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 2px 1px #777;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer .orderBox .orderHeading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer .orderBox .orderHeading .orderUser {
  flex: 1 0 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer .orderBox .orderHeading .orderUser figure {
  width: 40px;
  height: 40px;
  margin: 0;
  display: flex;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer .orderBox .orderHeading .orderUser figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer .orderBox .orderHeading .orderUser .userName {
  font-weight: 600;
  margin: 0;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer .orderBox .orderHeading .orderStatus {
  color: #858585;
  font-weight: 600;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer .orderBox .orderHeading .orderStatus.completed {
  color: rgb(10, 117, 10);
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer .orderBox .orderHeading .orderStatus.canceled {
  color: rgb(226, 50, 50);
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer .orderBox .orderContent {
  flex: 1 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer .orderBox .orderContent .orderPath {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer .orderBox .orderContent .orderPath .pathIcons {
  display: flex;
  flex-direction: column;
  gap: 0;
  position: relative;
  align-items: center;
  height: 100%;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer .orderBox .orderContent .orderPath .pathIcons .iconBox {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer .orderBox .orderContent .orderPath .pathIcons .iconBox img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer .orderBox .orderContent .orderPath .pathIcons .pathLine {
  flex: 1 0 0;
  border: 2px dashed #000;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer .orderBox .orderContent .orderPath .pathContent {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer .orderBox .orderContent .orderPath .pathContent .pathBox {
  padding: 4px 16px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  background-color: #efefef;
  border: 1px solid #777;
  color: #000000;
  font-weight: normal;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer .orderBox .orderContent .orderCost {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer .orderBox .orderContent .orderCost p {
  margin: 0;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer .orderBox .orderContent .orderCost p.costTitle {
  color: #858585;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer .orderBox .orderContent .orderCost p.costValue {
  font-weight: 600;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer .orderBox .orderContent .orderCost p.costValue span {
  font-size: 12px;
  font-weight: normal;
}
.content .contentBody .bodyContainer .latestOrdersSection .latestOrdersContainer .orderBox .orderContent .orderDate {
  width: 100%;
  text-align: right;
  color: #858585;
}
.content .contentBody .bodyContainer .carsMapContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  padding: 16px;
  box-shadow: 0px 8px 24px rgba(27, 46, 94, 0.12);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.content .contentBody .bodyContainer .carsMapContainer .dashboardMap {
  width: 100%;
}
.content .contentBody .tableContainer {
  width: 100%;
  padding: 0 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 768px) {
  .content .contentBody .tableContainer {
    padding: 0 8px;
  }
}
.content .contentBody .tableContainer .tableHeading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .content .contentBody .tableContainer .tableHeading {
    justify-content: center;
  }
}
.content .contentBody .tableContainer .tableHeading .addBtn {
  display: flex;
  min-width: 200px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #614b79;
  background: #614b79;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 12px;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}
@media (max-width: 768px) {
  .content .contentBody .tableContainer .tableHeading .addBtn {
    padding: 8px 16px;
  }
}
.content .contentBody .tableContainer .table {
  width: 100%;
}
.content .contentBody .tableContainer .table .avatarImg {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.content .contentBody .tableContainer .table .img {
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .contentBody .tableContainer .table .operationsBtns {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
}
.content .contentBody .tableContainer .table .operationsBtns .tableBtn {
  width: 20px;
  height: 20px;
  display: flex;
  cursor: pointer;
}
.content .contentBody .tableContainer .table .operationsBtns .tableBtn img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .privacy-policy {
  padding: 40px 0;
}
.content .privacy-policy br {
  line-height: 24px !important;
}
.content .privacy-policy h3 {
  font-size: 20px;
  color: #614b79;
  font-weight: 600;
  margin-bottom: 14px;
}
.content .privacy-policy p {
  font-size: 15px;
  color: #858585;
}
.content .privacy-policy h6 {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 14px;
}

footer {
  padding: 40px 0;
  background: #fdfbff;
}
footer .footer {
  gap: 28px;
  display: flex;
}
footer .footer .logo img {
  max-height: 60px;
}
footer .footer .social {
  display: flex;
  gap: 24px;
}
footer .footer .social a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  border: 1px solid #614b79;
}
footer .footer .social a i {
  color: #614b79;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}
footer .footer .social a:hover {
  border-color: #071633;
}
footer .footer .social a:hover i {
  color: #071633;
}
footer .copy p {
  color: #000000;
  margin: 0;
  display: block;
  text-align: center;
}
footer .copy p span {
  color: #614b79;
}
footer .copy a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #614b79;
}
footer .copy a img {
  max-height: 20px;
}

.sectionTitle {
  text-align: center;
  margin-bottom: 16px;
}
.sectionTitle h2 {
  text-transform: uppercase;
  color: #000000;
  font-size: 28px;
  font-weight: bold;
}
.sectionTitle p {
  text-align: center;
  color: #777;
  width: min(100% - 24px, 500px);
  margin: auto;
  line-height: 1.2;
  font-size: 14px;
}

.banner {
  width: 100%;
  height: 150px;
  background: #fdfbff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
}
.banner h1 {
  font-size: 32px;
  color: #614b79;
}

.table {
  width: 100% !important;
}
.table .dtr-details {
  display: flex !important;
  flex-direction: column;
  font-size: 14px;
}
.table .dtr-details > li {
  border-bottom: 1px solid #efefef;
  padding: 0.5em 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  row-gap: 4px;
}
.table .dtr-details > li .dtr-data {
  white-space: normal;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 4px;
}
.table tbody th,
.table tbody td,
.table thead th,
.table thead td {
  padding: 12px;
  border: none !important;
  text-align: start !important;
}
.table tbody th:hover,
.table tbody td:hover,
.table thead th:hover,
.table thead td:hover {
  outline: unset !important;
}
.table tbody .dt-column-title,
.table thead .dt-column-title {
  white-space: nowrap;
}
.table tbody tr:nth-child(even) {
  background-color: #f9f9f9 !important;
}
.table tbody td:last-of-type .operationsBtns .inputGroup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table tbody td:last-of-type .operationsBtns .inputGroup input {
  display: none;
}
.table tbody td:last-of-type .operationsBtns .inputGroup input:checked + label {
  opacity: 1;
  justify-content: flex-end;
}
.table tbody td:last-of-type .operationsBtns .inputGroup label {
  width: 48px;
  background-color: rgb(16, 157, 212);
  position: relative;
  height: 24px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 0.4;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.table tbody td:last-of-type .operationsBtns .inputGroup label .linkBarBullet {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.dt-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  border-radius: 16px 8px;
  background-color: #fff;
}

.dt-layout-table .dt-layout-cell {
  width: 100%;
}

.dt-layout-row {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}
.dt-layout-row .dt-layout-cell > div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.dt-layout-row .dt-layout-cell > div .dt-paging-button {
  padding: 8px;
  border: none;
  aspect-ratio: 1;
  min-width: 32px;
  border-radius: 4px;
}
.dt-layout-row .dt-layout-cell > div .dt-paging-button:hover, .dt-layout-row .dt-layout-cell > div .dt-paging-button.current {
  background-color: #614b79;
  color: #fff;
}
.dt-layout-row select,
.dt-layout-row input {
  border: 1px solid #eee;
  border-radius: 12px;
  min-height: 40px;
  padding: 8px;
}

.modalSection,
.driversModalSection {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.4);
  z-index: 9999999999;
  display: none;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  overflow-y: auto;
}
.modalSection::-webkit-scrollbar,
.driversModalSection::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.modalSection.open,
.driversModalSection.open {
  display: flex !important;
}
.modalSection .modalBox,
.driversModalSection .modalBox {
  display: flex;
  width: 800px;
  min-width: 250px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  background: #fff;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
@media (max-width: 768px) {
  .modalSection .modalBox,
  .driversModalSection .modalBox {
    padding: 24px 16px;
  }
}
.modalSection .modalBox .modalHeading,
.driversModalSection .modalBox .modalHeading {
  display: flex;
  padding-bottom: 24px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.modalSection .modalBox .modalHeading .modalLabel,
.driversModalSection .modalBox .modalHeading .modalLabel {
  flex: 1 0 0;
  color: #000000;
  font-family: MadaniArabic-SemiBold;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.modalSection .modalBox .modalHeading .closeBtnBox,
.driversModalSection .modalBox .modalHeading .closeBtnBox {
  display: flex;
  width: 20px;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #000000;
  background: #000000;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  cursor: pointer;
}
.modalSection .modalBox .modalHeading .closeBtnBox img,
.driversModalSection .modalBox .modalHeading .closeBtnBox img {
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.modalSection .modalBox .modalForm,
.driversModalSection .modalBox .modalForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.modalSection .modalBox .modalForm .formBody,
.driversModalSection .modalBox .modalForm .formBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.modalSection .modalBox .modalForm .formBody .inputGroup,
.driversModalSection .modalBox .modalForm .formBody .inputGroup {
  display: flex;
  height: 86px;
  min-width: 300px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.modalSection .modalBox .modalForm .formBody .inputGroup .filepond-multiple,
.driversModalSection .modalBox .modalForm .formBody .inputGroup .filepond-multiple {
  width: 100%;
  margin-bottom: 40px;
}
.modalSection .modalBox .modalForm .formBody .inputGroup label,
.driversModalSection .modalBox .modalForm .formBody .inputGroup label {
  flex: 1 0 0;
  color: #000000;
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
.modalSection .modalBox .modalForm .formBody .inputGroup input,
.modalSection .modalBox .modalForm .formBody .inputGroup select,
.driversModalSection .modalBox .modalForm .formBody .inputGroup input,
.driversModalSection .modalBox .modalForm .formBody .inputGroup select {
  display: flex;
  min-height: 54px;
  padding: 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background: #efefef;
  border: 1px solid #777;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.modalSection .modalBox .modalForm .formBody .btnsBox,
.driversModalSection .modalBox .modalForm .formBody .btnsBox {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  margin-top: 8px;
}
.modalSection .modalBox .modalForm .formBody .btnsBox .btn,
.driversModalSection .modalBox .modalForm .formBody .btnsBox .btn {
  display: flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border: 1px solid #614b79;
  background: #614b79;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  color: #fff;
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
.modalSection .modalBox .modalForm .formBody .btnsBox .back-link,
.driversModalSection .modalBox .modalForm .formBody .btnsBox .back-link {
  display: flex;
  width: 52px;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 11.111px;
  align-self: stretch;
  border: 1px solid #777;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  cursor: pointer;
}
.modalSection .modalBox .modalForm .formBody .btnsBox .back-link img,
.driversModalSection .modalBox .modalForm .formBody .btnsBox .back-link img {
  width: 22px;
  height: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}

.driversModalSection .modalBox .tableContainer {
  width: 100%;
}
.driversModalSection .modalBox .img {
  width: 100px !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.driversModalSection .modalBox .linkBtn img {
  width: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.dashboardPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #f7fafb;
}
@media (max-width: 768px) {
  .dashboardPage {
    flex-direction: column;
  }
}
.dashboardPage nav,
.dashboardPage aside {
  box-shadow: 0px 2px 15px -3px rgba(0, 0, 0, 0.07), 0px 10px 20px -2px rgba(0, 0, 0, 0.04);
}

.mainAndFooterWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 274px;
  flex: 1 0 0;
  width: 100%;
}
@media (max-width: 768px) {
  .mainAndFooterWrapper {
    padding-left: unset;
    padding-top: 80px;
  }
}
.mainAndFooterWrapper.grow {
  padding-left: 74px;
}
@media (max-width: 768px) {
  .mainAndFooterWrapper.grow {
    padding-left: unset;
  }
}
.mainAndFooterWrapper .contentBody {
  padding: 24px 0 !important;
}
.mainAndFooterWrapper footer {
  padding: 40px 24px;
}
.mainAndFooterWrapper footer .social {
  gap: 12px !important;
}

aside {
  width: 274px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background-color: #fff;
  z-index: 9999999;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
@media (max-width: 768px) {
  aside {
    width: 100%;
    height: unset;
  }
}
aside.shrink {
  width: 74px;
}
@media (max-width: 768px) {
  aside.shrink {
    width: 100%;
  }
}
aside.shrink .navLink {
  color: #614b79;
}
aside.shrink .submenuIcon {
  display: none !important;
}
aside .asideIcon {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  position: absolute;
  right: -40px;
  top: 25px;
  z-index: 99999999;
  background-color: #fefefe;
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  box-shadow: 0px 2px 15px -3px rgba(0, 0, 0, 0.07), 0px 10px 20px -2px rgba(0, 0, 0, 0.04), 0 0 4px 1px #efefef inset;
}
@media (max-width: 768px) {
  aside .asideIcon {
    right: 24px;
    box-shadow: none;
    padding: 0;
  }
}
aside .asideIcon .iconBar {
  width: 28px;
  height: 2px;
  flex-shrink: 0;
  background: #614b79;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
aside .asideLogo {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  align-self: stretch;
  overflow: hidden;
}
aside .asideLogo img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 70%;
}
aside .asideLogo .logo-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.6px;
}
aside .asideLogo .logo-heading img {
  -o-object-fit: cover;
     object-fit: cover;
}
aside .asideNav {
  width: 100%;
  display: flex;
  padding: 12px 0px;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  z-index: 99999;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
@media (max-width: 768px) {
  aside .asideNav {
    position: absolute;
    top: 100%;
    padding: 12px;
    left: -110%;
    background-color: #fefefe;
    box-shadow: 0px 2px 15px -3px rgba(0, 0, 0, 0.07), 0px 10px 20px -2px rgba(0, 0, 0, 0.04);
  }
  aside .asideNav.open {
    left: 0;
  }
}
aside .asideNav .navItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 0 12px;
  flex-wrap: wrap;
  overflow-x: hidden;
}
aside .asideNav .navItem.active, aside .asideNav .navItem:hover {
  background: #e8e3ee;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
aside .asideNav .navItem .navLink {
  color: #614b79;
}
aside .asideNav .navItem.open .submenuIcon img {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
aside .asideNav .navItem.open .submenu {
  display: flex;
}
aside .asideNav .navItem .navLink {
  width: 100%;
  flex: 1 0 0;
  white-space: nowrap;
  display: flex;
  padding: 8px;
  justify-content: flex-start;
  align-items: center;
  gap: 28px;
  align-self: stretch;
}
aside .asideNav .navItem .navLink p {
  margin: 0;
  color: #614b79;
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  white-space: wrap;
  text-wrap: balance;
}
aside .asideNav .navItem .navLink img {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}
aside .asideNav .navItem .submenuIcon {
  display: flex;
  width: 12px;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  flex-shrink: 0;
  margin-left: 16px;
  cursor: pointer;
}
aside .asideNav .navItem .submenuIcon img {
  width: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0;
}
aside .asideNav .navItem .submenu {
  position: relative;
  width: 100%;
  display: none;
  padding: 0px 8px 0px 8px;
  flex-direction: column;
  align-items: flex-start;
  top: 0;
  right: 0;
  background-color: #fff;
  list-style: none;
}
aside .asideNav .navItem .submenu .submenuItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex-direction: column;
}
aside .asideNav .navItem .submenu .submenuItem.active > a {
  color: #614b79 !important;
}
aside .asideNav .navItem .submenu .submenuItem ul {
  padding-right: 40px;
}
aside .asideNav .navItem .submenu .submenuItem a {
  width: 100%;
  padding: 8px 4px;
  color: var(--Gray, #777);
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

.historyContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.historyContainer .historyHeading {
  font-weight: 600;
  position: relative;
  color: #858585;
}
.historyContainer .historyContent {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.historyContainer .historyContent .historyBox {
  padding: 16px 24px;
  min-width: 300px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  position: relative;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  background-color: rgba(0, 181, 29, 0.1);
}
.historyContainer .historyContent .historyBox.pay {
  background-color: rgba(241, 86, 64, 0.1);
}
.historyContainer .historyContent .historyBox.pay .boxStatus {
  color: rgb(241, 86, 64);
}
.historyContainer .historyContent .historyBox .boxInfo {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
.historyContainer .historyContent .historyBox .boxInfo .boxCost {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 800;
  margin: 0;
}
.historyContainer .historyContent .historyBox .boxInfo .boxCost span {
  font-weight: normal;
  font-size: 12px;
}
.historyContainer .historyContent .historyBox .boxInfo .boxDate {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #858585;
  margin: 0;
}
.historyContainer .historyContent .historyBox .boxStatus {
  font-weight: 800;
  color: #000;
  cursor: pointer;
}

.subscriptionsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  position: relative;
}
@media (max-width: 768px) {
  .subscriptionsContainer {
    padding: 8px;
  }
}
.subscriptionsContainer .subscriptionInputGroup label {
  color: #000;
  background-color: #efefef;
  box-shadow: 0 0 2px 1px #eee;
  width: 100%;
  height: 100%;
  padding: 12px 24px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.subscriptionsContainer .subscriptionInputGroup label .planduration {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 600;
}
.subscriptionsContainer .subscriptionInputGroup label .planduration span {
  font-size: 24px;
  font-weight: 800;
}
.subscriptionsContainer .subscriptionInputGroup label .planCostInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
.subscriptionsContainer .subscriptionInputGroup label .planCostInfo p {
  margin: 0;
}
.subscriptionsContainer .subscriptionInputGroup label .planCostInfo p.planCost {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}
.subscriptionsContainer .subscriptionInputGroup label .planCostInfo p.planCost span {
  font-size: 12px;
  font-weight: normal;
}
.subscriptionsContainer .subscriptionInputGroup label .planCostInfo p.costPrecentage {
  color: #858585;
  font-size: 14px;
}
.subscriptionsContainer .subscriptionInputGroup input {
  display: none;
}
.subscriptionsContainer .subscriptionInputGroup input:checked + label {
  background-color: #614b79;
  color: #fff;
}
.subscriptionsContainer .btnBox {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.subscriptionsContainer .btnBox .confirmBtn {
  min-width: 300px;
  padding: 16px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #614b79;
  font-weight: normal;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.subscriptionsContainer .btnBox .confirmBtn.show {
  display: flex;
}

.card-box-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.card-box-content h4 {
  font-weight: 600;
}
.card-box-content .badge {
  background: none;
  display: flex;
  padding: 0;
  font-weight: normal !important;
}

.card-header {
  padding: 12px;
}
.card-header h5 {
  font-family: "Poppins", sans-serif;
  color: #666b88 !important;
  font-weight: 500;
  font-size: 16px !important;
}

.card-body {
  padding: 24px;
}/*# sourceMappingURL=styleEn.css.map */