@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
$main-color: #614b79;
$second-color: #071633;
$main30-color: #e8e3ee;
$text-color: #858585;
$black-color: #000000;
$white-color: #fff;
$shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
$main-transation: 0.3s ease-in-out;
:target {
  scroll-margin-top: 80px;
}
.fancybox__container {
  z-index: 1999;
}
.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}
@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}
* {
  margin: 0;
  padding: 0;
  line-height: 32px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
  position: relative;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: $white-color;
}
::-webkit-scrollbar-thumb {
  background: $main-color;
  height: 300px;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
//************************//
.header {
  width: 100%;
  height: 80px;
  padding-left: 20px;
  position: sticky;
  top: 0;
  left: 0;
  background: $white-color;
  z-index: 99999;
  &.sticky {
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    animation: 0.5s ease-in-out 0s normal none 1 running fadeInDown;
  }
  .headerAsideIcon {
    display: none;
    width: 36px;
    height: 36px;
    padding: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    cursor: pointer;
    z-index: 9999;
    @media (max-width: 768px) {
      display: flex;
    }
    .iconBar {
      width: 28px;
      height: 2px;
      flex-shrink: 0;
      background: $main-color;
      border-radius: 16px;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
    }
  }
  .container {
    height: 80px;
    .logo {
      height: 80px;
      @include centerFlex();
      img {
        max-height: 54px;
      }
    }
    .nav-links {
      height: 100%;
      @media (max-width: 768px) {
        position: fixed;
        transition: all 0.5s ease-in-out;
        left: -100%;
        top: 80px;
        width: 100%;
        height: calc(100vh - 80px);
        background-color: $white-color;
        &.showing {
          left: 0;
        }
        ul {
          flex-direction: column;
          justify-content: center;
          .nav-link {
            height: 70px !important;
          }
        }
      }
      ul {
        display: flex;
        height: 100%;
        position: relative;

        @media (max-width: 768px) {
          overflow-y: auto;
        }
        .nav-link {
          height: 100%;
          padding: 0 16px;
          position: relative;
          @include centerFlex();
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
          flex-wrap: wrap;

          &:hover {
            .submenu {
              display: flex;
            }
          }

          &.open {
            .submenu {
              display: flex;
            }
          }

          a,
          span {
            color: $text-color;
            font-size: 16px;
            transition: all $main-transation;
            cursor: pointer;
            &:hover,
            &.active {
              color: $main-color;
              &::after {
                width: 100%;
              }
            }
            position: relative;
            &::after {
              transition: all $main-transation;
              content: "";
              background: $main-color;
              position: absolute;
              bottom: 0;
              width: 0;
              height: 2px;
              left: 50%;
              transform: translateX(-50%);
            }
          }
          .submenu {
            padding: 20px;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
            display: none;
            flex-direction: column;
            gap: 10px;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 999999;
            height: fit-content;
            min-width: 200px;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;

            @media (max-width: 768px) {
              position: relative;
              top: unset;
              width: 100%;
              box-shadow: none;
            }
          }
        }
      }
    }
    .btns {
      .language {
        border-radius: 8px;
        background: $main-color;
        padding: 6px 12px;
        color: $white-color;
        font-size: 14px;
        height: 40px;
        @include centerFlex();
      }
      .btn {
        border-radius: 8px;
        background: $main-color;
        padding: 6px 12px;
        color: $white-color;
        font-size: 14px;
        height: 40px;
        @include centerFlex();
        i {
          font-size: 18px;
        }
      }
      .toogler {
        display: none;
        width: 45px;
        @media (max-width: 768px) {
          display: block;
        }
      }
    }
  }
}
.content {
  flex: 1 0 0;
  .hero-section {
    position: relative;
    margin-top: 16px;
    .container {
      .row {
        margin: 0;
        border-radius: 32px;
        background-image: linear-gradient(
          -270deg,
          #4c3b5e 13.9%,
          #614b79 75.76%
        );
        height: calc(100vh - 100px);
        max-height: 700px;
        padding: 32px 64px;
        overflow: hidden;
        @media (max-width: 576px) {
          padding: 32px 24px;
          height: calc(120vh - 100px);
        }
      }
    }
    .mockup {
      position: relative;
      display: flex;
      align-items: center;
      isolation: isolate;
      transform: translateY(80px);
      justify-content: center;
      @media (max-width: 576px) {
        transform: translateY(50px);
      }
      img {
        width: 70%;
        margin-left: 40px;
        &:nth-child(2) {
          margin-left: -160px;
          margin-bottom: -150px;
          z-index: -1;
        }
      }
    }
    .content-wrap {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 16px;
      h1 {
        font-size: 38px;
        font-weight: bold;
        line-height: 54px;
        font-weight: 600;
        color: $white-color;
        @media (max-width: 992px) {
          text-align: center;
        }
        @media (max-width: 576px) {
          font-size: 30px;
          line-height: 46px;
        }
      }
      p {
        color: $white-color;
        line-height: 28px;
        font-size: 16px;
        @media (max-width: 992px) {
          text-align: center;
        }
      }
      .btns {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        img {
          height: 52px;
        }
        @media (max-width: 768px) {
          justify-content: center;
        }
      }
    }
  }
  .statics {
    .about-description {
      padding-left: 16px;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      h6 {
        color: $main-color;
      }
      h2 {
        color: $black-color;
        margin-bottom: 24px;
        font-size: 32px;
        span {
          background-image: linear-gradient(
            270deg,
            #071633 13.9%,
            #278867 75.76%
          );
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      p {
        margin-top: 8px;
        font-size: 15px;
        line-height: 26px;
        color: #777777;
      }
      ul {
        li {
          margin-bottom: 8px;
          display: flex;
          gap: 8px;
          span {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $main-color;
            border-radius: 50%;
            i {
              color: $white-color;
            }
          }
        }
      }
    }
    .img {
      width: 100%;
      position: relative;
      @media (max-width: 576px) {
        margin-top: 32px;
      }
      .image {
        object-position: left;
        border-radius: 24px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 24px;
      }
      .thumb {
        background: $white-color;
        position: absolute;
        padding: 32px;
        bottom: -42px;
        right: -42px;
        max-width: 260px;
        z-index: 999;
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
        border-radius: 24px;
        @media screen and (max-width: 768px) {
          left: 50%;
          transform: translateX(-50%);
          width: 240px;
          bottom: -70px;
        }
        img {
          border-radius: 0;
          max-height: 48px;
        }
        p {
          font-size: 14px;
          color: $main-color;
          margin: 0;
          line-height: 20px;
        }
        h6 {
          font-size: 18px;
          text-align: center;
          color: #000000;
          margin: 0;
          line-height: 26px;
        }
      }
    }
    .features {
      background: #fdfbff;
      margin: 120px 0 70px 0;
    }
    .statics-card {
      box-shadow: rgb(0 0 0 / 5%) -5px 6px 20px 0px;
      padding: 32px 16px;
      border-radius: 16px;
      background: $white-color;
      @include centerFlex();
      flex-direction: column;
      img {
        max-height: 64px;
        margin-bottom: 16px;
      }
      h4 {
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        margin: 0;
        color: $black-color;
      }
      p {
        color: $main-color;
        margin: 0;
        font-weight: 500;
      }
    }
  }
  .appImgs {
    padding: 70px 0;
    position: relative;
    .swiper {
      width: 100%;
      padding: 30px 0;
      position: relative;
      display: flex;
      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 234px;
        height: 507px;
        position: relative;
        @media (max-width: 768px) {
          width: 175.5px;
          height: 380px;
        }
        img {
          display: block;
          width: 100%;
          border-radius: 16px;
        }
      }
      .frame {
        width: 267px;
        height: 514px;
        @media (max-width: 768px) {
          width: 202.5px;
          height: 401px;
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    }
    .swiper-wrapper {
      height: auto;
    }
    .swiper-3d .swiper-slide-shadow,
    .swiper-3d .swiper-slide-shadow-bottom,
    .swiper-3d .swiper-slide-shadow-left,
    .swiper-3d .swiper-slide-shadow-right,
    .swiper-3d .swiper-slide-shadow-top {
      border-radius: 16px;
      box-shadow: 0px 2px 4px #00000010;
      border: 4px solid $white-color;
    }
    .swiper-3d .swiper-slide-shadow-left {
      background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      );
    }
    .swiper-3d .swiper-slide-shadow-right {
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      );
    }
  }
  .how {
    padding: 80px 0;
    .sectionTitle {
      margin-bottom: 32px !important;
      h2 {
        color: $main-color;
        font-weight: 600;
      }
    }
    .how-card {
      background: #fff;
      padding: 22px;
      height: 100%;
      display: flex;
      flex-direction: column;
      box-shadow: $shadow;
      border-radius: 12px;
      .icon {
        width: 45px;
        height: 45px;
        background: $main30-color;
        @include centerFlex();
        border-radius: 6px;
        h3 {
          color: $main-color;
          margin: 0;
        }
      }
      h6 {
        margin: 0;
        font-size: 16px;
        color: #000000;
      }
      p {
        font-size: 14px;
        line-height: 22px;
        color: #000000;
        margin: 0;
        margin-top: 12px;
      }
    }
  }
  .features {
    position: relative;
    padding: 60px 0;
    .toop {
      position: absolute;
      right: 40px;
      top: 100px;
      animation: swing-right 5s linear infinite;
      @media (max-width: 450px) {
        top: 20px;
      }
    }
    .bottom {
      position: absolute;
      left: 40px;
      bottom: 0;
      animation: swing-left 5s linear infinite;
    }
    @keyframes swing-left {
      0% {
        left: 40px;
      }
      25% {
        left: 60px;
      }
      50% {
        left: 80px;
      }
      75% {
        left: 60px;
      }
      100% {
        left: 40px;
      }
    }
    @keyframes swing-right {
      0% {
        right: 40px;
      }
      25% {
        right: 60px;
      }
      50% {
        right: 80px;
      }
      75% {
        right: 60px;
      }
      100% {
        right: 40px;
      }
    }
    .title {
      color: $black-color;
      font-weight: 600;
      margin-bottom: 48px;
    }
    .feature-card {
      box-shadow: $shadow;
      background: $white-color;
      height: 100%;
      padding: 24px 16px;
      border-radius: 16px;
      @include centerFlex();
      flex-direction: column;
      position: relative;
      z-index: 9;
      .icon {
        @include centerFlex();
        background: $main-color;
        border-radius: 16px;
        height: 78px;
        width: 78px;
        margin-bottom: 28px;
        img {
          max-height: 40px;
        }
      }
      h4 {
        color: $black-color;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 12px;
      }
      p {
        margin: 0;
        text-align: center;
        color: $text-color;
        line-height: 24px;
        font-size: 14px;
      }
    }
  }
  .faq {
    padding: 60px 0;
    h3 {
      color: $black-color;
      font-weight: 600;
      margin-bottom: 32px;
      font-size: 28px;
      @media (max-width: 768px) {
        text-align: center;
      }
    }
    img {
      max-width: 100%;
    }
  }
  .contact-us {
    padding: 70px 0;
    position: relative;
    .map-area {
      margin-top: 60px;
      padding: 0 30px;
    }
    form {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      input,
      textarea {
        @include clearInput();
        background: #ffffff;
        padding: 12px 16px;
        border-radius: 8px;
        font-size: 14px;
        color: $black-color;
        border: 1px solid #f4f4f4;
      }
      button {
        width: 120px;
        @include clearInput();
        background: $main-color;
        color: $white-color;
        align-self: flex-end;
        height: 40px;
        margin-top: 16px;
        border-radius: 8px;
      }
    }
    .map-area {
      padding: 0 24px;
      @media (max-width: 768px) {
        margin-top: 40px;
      }
    }
    .img {
      img {
        object-fit: contain;
        aspect-ratio: 1/1;
        width: 100%;
        border-radius: 16px;
        object-position: center;
      }
    }
  }
  .download-app {
    width: 100%;
    padding: 70px 0;
    .mouckups {
      margin-top: 20px;
      aspect-ratio: 1/1;
      width: 100%;
      max-height: 600px;
      position: relative;
      #center {
        max-height: 574px;
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: 9;
        transform: translateX(-50%);
        @media (max-width: 576px) {
          max-height: fit-content;
          max-width: 50%;
        }
      }
      #right {
        position: absolute;
        left: 85%;
        bottom: 0;
        max-height: 450px;
        transform: translateX(-85%) rotate(24deg);
        @media (max-width: 768px) {
          transform-origin: 70%;
          left: 100%;
          transform: translateX(-100%) rotate(30deg);
        }
        @media (max-width: 576px) {
          transform: translateX(-100%) rotate(5deg);
          max-width: 40%;
        }
      }
      #left {
        position: absolute;
        left: 15%;
        bottom: 0;
        max-height: 450px;
        transform: translateX(-15%) rotate(-24deg);
        @media (max-width: 768px) {
          transform-origin: 32%;
          left: 0;
          transform: translateX(0) rotate(-30deg);
        }
        @media (max-width: 576px) {
          transform: translateX(0%) rotate(-5deg);
          max-width: 40%;
        }
      }
    }
  }
  .careersForm {
    padding: 40px 0;
    .title {
      margin: auto;
      color: $black-color;
      text-transform: none;
      padding: 0 24px;
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        right: 40px;
        bottom: 10px;
        height: 24px;
        width: 40px;
        background-color: $main-color;
        z-index: -1;
        border-radius: 16px 0px;
      }
    }
    .subtitle {
      margin: auto;
      color: $text-color;
      text-transform: none;
      padding: 0 24px;
      position: relative;
      margin-top: 10px;
      text-align: center;
    }
    form {
      padding: 48px 0 0;
      display: flex;
      flex-direction: column;
      gap: 24px;
      .reverseAuthForm {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;

        span {
          font-size: 14px;
          color: #333;
        }

        a {
          font-size: 14px;
          color: $main-color;
        }
      }
      .termsAgreementBox {
        width: 100%;
        display: flex;
        gap: 8px;
        align-items: center;

        input {
          &[type="checkbox"] {
            width: 20px;
            height: 20px;

            &:hover {
              cursor: pointer;
            }
          }
        }

        label {
          white-space: nowrap;
          font-size: 14px;
          display: flex;
          align-items: center;
          gap: 4px;
          flex-wrap: wrap;
          text-wrap: balance;

          a {
            color: $main-color;
            text-decoration: underline;
          }
        }
      }
      .otpCodesContainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
        align-items: center;
        justify-content: space-between;
        gap: 8px;

        input {
          padding: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $white-color;
          border: none;
          border-bottom: 1px solid $text-color;
          text-align: center;
          font-size: 24px;
          font-weight: bold;

          &:focus {
            outline: none;
            border-bottom-color: #000;
          }
        }
      }
      .otpTimerBox {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        flex-wrap: wrap;

        .otpTimer {
          font-size: 14px;
          color: $black-color;
        }

        .otpLink {
          font-size: 14px;
          color: $main-color;
          cursor: pointer;
        }
      }
      label {
        font-size: 14px;
      }
      .forgetLink {
        font-size: 13px;
        text-align: left;
        color: $main-color;
        margin-top: 8px;
        position: relative;
        display: inline-block;
      }
      .send {
        background-color: $main-color;
        padding: 16px;
        width: min(100% - 24px, 300px);
        margin: auto;
        color: $white-color;
        border-radius: 100px;
        outline: none;
        border: none;
      }
      input {
        &::placeholder {
          color: $text-color;
        }
      }
    }
  }
  .contentBody {
    padding: 40px 0;
    .bodyHeading {
      padding: 0 24px;
      margin: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: center;

      .headingWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;

        h5 {
          position: relative;
          margin: 0;
        }
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .moneyBox {
      width: 100%;
      padding: 0 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      .moneyValue {
        font-weight: 700;
        display: inline-block;
        font-size: 32px;
      }

      .moneyCurrency {
        font-size: 18px;
        font-weight: 400;
      }
    }
    .bodyContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .statisticsCardsContainer {
        padding: 16px;
        width: 100%;
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;

        .card {
          box-shadow: none !important;
        }

        .statisticsCard {
          min-width: 300px;
          padding: 20px;
          display: flex;
          flex: 1 0 0;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          background-color: #fefefe;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          box-shadow: 0 0 2px 1px #777;
          cursor: pointer;

          .cardheading {
            color: $text-color;
            font-weight: 500;
          }

          .cardContent {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 8px;
            justify-content: center;
            align-items: flex-start;

            .value {
              font-size: 24px;
              font-weight: 600;
              text-align: center;
              width: 100%;
            }

            .status {
              display: flex;
              white-space: nowrap;
              flex-wrap: wrap;
              gap: 4px;
              font-size: 14px;

              .statusValue {
                &.gain {
                  color: rgb(10, 117, 10);
                }
                &.lose {
                  color: rgb(226, 50, 50);
                }
              }
            }
          }
        }
      }

      .statisticsChartsContainer {
        padding: 16px;
        width: 100%;
        display: flex;
        gap: 40px;
        flex-wrap: wrap;

        .statisticsChartBox {
          flex: 1 0 0;
          display: flex;
          flex-direction: column;
          gap: 24px;
          min-width: 300px;
          background: #fefefe;
          box-shadow: 0px 8px 24px rgba(27, 46, 94, 0.12);
          padding: 20px;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          -o-border-radius: 20px;
        }
      }

      .latestOrdersSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: relative;
        padding: 16px;

        .latestOrdersHeading {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          position: relative;

          a {
            color: $main-color;
          }
        }

        .latestOrdersContainer {
          width: 100%;
          display: flex;
          gap: 20px;
          position: relative;
          flex-wrap: wrap;

          .orderBox {
            min-width: 300px;
            padding: 16px;
            display: flex;
            flex-direction: column;
            flex: 1 0 0;
            gap: 40px;
            background-color: #fefefe;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            box-shadow: 0 0 2px 1px #777;
            .orderHeading {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 20px;

              .orderUser {
                flex: 1 0 0;
                display: flex;
                align-items: center;
                gap: 20px;

                figure {
                  width: 40px;
                  height: 40px;
                  margin: 0;
                  display: flex;
                  border-radius: 50%;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  -ms-border-radius: 50%;
                  -o-border-radius: 50%;
                  overflow: hidden;

                  img {
                    width: 100%;
                    object-fit: cover;
                  }
                }
                .userName {
                  font-weight: 600;
                  margin: 0;
                }
              }

              .orderStatus {
                color: $text-color;
                font-weight: 600;

                &.completed {
                  color: rgb(10, 117, 10);
                }
                &.canceled {
                  color: rgb(226, 50, 50);
                }
              }
            }

            .orderContent {
              flex: 1 0 0;
              width: 100%;
              display: flex;
              flex-direction: column;
              gap: 16px;
              position: relative;

              .orderPath {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 16px;

                .pathIcons {
                  display: flex;
                  flex-direction: column;
                  gap: 0;
                  position: relative;
                  align-items: center;
                  height: 100%;

                  .iconBox {
                    width: 24px;
                    height: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    img {
                      width: 100%;
                      object-fit: cover;
                    }
                  }

                  .pathLine {
                    flex: 1 0 0;
                    border: 2px dashed #000;
                  }
                }

                .pathContent {
                  flex: 1 0 0;
                  display: flex;
                  flex-direction: column;
                  gap: 16px;
                  position: relative;

                  .pathBox {
                    padding: 4px 16px;
                    border-radius: 16px;
                    -webkit-border-radius: 16px;
                    -moz-border-radius: 16px;
                    -ms-border-radius: 16px;
                    -o-border-radius: 16px;
                    background-color: #efefef;
                    border: 1px solid #777;
                    color: $black-color;
                    font-weight: normal;
                  }
                }
              }

              .orderCost {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 8px;
                position: relative;

                p {
                  margin: 0;

                  &.costTitle {
                    color: $text-color;
                  }

                  &.costValue {
                    font-weight: 600;

                    span {
                      font-size: 12px;
                      font-weight: normal;
                    }
                  }
                }
              }

              .orderDate {
                width: 100%;
                text-align: right;
                color: $text-color;
              }
            }
          }
        }
      }

      .carsMapContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        padding: 16px;
        box-shadow: 0px 8px 24px rgba(27, 46, 94, 0.12);
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
        .dashboardMap {
          width: 100%;
        }
      }
    }
    .tableContainer {
      width: 100%;
      padding: 0 16px;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media (max-width: 768px) {
        padding: 0 8px;
      }

      .tableHeading {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media (max-width: 768px) {
          justify-content: center;
        }

        .addBtn {
          display: flex;
          min-width: 200px;
          padding: 8px 24px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border: 1px solid $main-color;
          background: $main-color;
          border-radius: 8px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 12px;
          color: $white-color;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          cursor: pointer;

          @media (max-width: 768px) {
            padding: 8px 16px;
          }
        }
      }

      .table {
        width: 100%;

        .avatarImg {
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }

        .img {
          width: 80px;
          object-fit: cover;
        }
        .operationsBtns {
          width: 100%;
          display: flex;
          gap: 8px;
          align-items: center;

          .tableBtn {
            width: 20px;
            height: 20px;
            display: flex;
            cursor: pointer;

            img {
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
  .privacy-policy {
    padding: 40px 0;
    br {
      line-height: 24px !important;
    }
    h3 {
      font-size: 20px;
      color: $main-color;
      font-weight: 600;
      margin-bottom: 14px;
    }
    p {
      font-size: 15px;
      color: $text-color;
    }
    h6 {
      font-size: 16px;
      color: $black-color;
      font-weight: 600;
      margin-bottom: 14px;
    }
  }
}
footer {
  padding: 40px 0;
  background: #fdfbff;
  .footer {
    gap: 28px;
    display: flex;
    .logo img {
      max-height: 60px;
    }
    .social {
      display: flex;
      gap: 24px;
      a {
        width: 40px;
        height: 40px;
        @include centerFlex();
        border-radius: 50%;
        transition: $main-transation;
        border: 1px solid $main-color;
        i {
          color: $main-color;
          font-size: 15px;
          transition: $main-transation;
        }
        &:hover {
          border-color: $second-color;
          i {
            color: $second-color;
          }
        }
      }
    }
  }
  .copy {
    p {
      color: $black-color;
      margin: 0;
      display: block;
      text-align: center;
      span {
        color: $main-color;
      }
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      color: $main-color;
      img {
        max-height: 20px;
      }
    }
  }
}
.sectionTitle {
  text-align: center;
  margin-bottom: 16px;
  h2 {
    text-transform: uppercase;
    color: #000000;
    font-size: 28px;
    font-weight: bold;
  }
  p {
    text-align: center;
    color: #777;
    width: min(100% - 24px, 500px);
    margin: auto;
    line-height: 1.2;
    font-size: 14px;
  }
}
.banner {
  width: 100%;
  height: 150px;
  background: #fdfbff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  h1 {
    font-size: 32px;
    color: $main-color;
  }
}

.table {
  width: 100% !important;

  .dtr-details {
    display: flex !important;
    flex-direction: column;
    font-size: 14px;
    > li {
      border-bottom: 1px solid #efefef;
      padding: 0.5em 0;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
      gap: 16px;
      row-gap: 4px;
      .dtr-data {
        white-space: normal;
        display: inline-flex;
        flex-wrap: wrap;
        gap: 4px;
      }
    }
  }
  tbody,
  thead {
    th,
    td {
      padding: 12px;
      border: none !important;
      text-align: start !important;
      &:hover {
        outline: unset !important;
      }
    }

    .dt-column-title {
      white-space: nowrap;
    }
  }
  tbody {
    tr {
      &:nth-child(even) {
        background-color: #f9f9f9 !important;
      }
    }
    td {
      &:last-of-type {
        .operationsBtns {
          .inputGroup {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            input {
              display: none;

              &:checked {
                + label {
                  opacity: 1;
                  justify-content: flex-end;
                }
              }
            }

            label {
              width: 48px;
              background-color: rgb(16, 157, 212);
              position: relative;
              height: 24px;
              border-radius: 24px;
              -webkit-border-radius: 24px;
              -moz-border-radius: 24px;
              -ms-border-radius: 24px;
              -o-border-radius: 24px;
              padding: 2px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              opacity: 0.4;
              cursor: pointer;
              transition: 0.3s;
              -webkit-transition: 0.3s;
              -moz-transition: 0.3s;
              -ms-transition: 0.3s;
              -o-transition: 0.3s;

              .linkBarBullet {
                position: relative;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                background-color: #fff;
                transition: 0.3s;
                -webkit-transition: 0.3s;
                -moz-transition: 0.3s;
                -ms-transition: 0.3s;
                -o-transition: 0.3s;
              }
            }
          }
        }
      }
    }
  }
}
.dt-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  border-radius: 16px 8px;
  background-color: $white-color;
}
.dt-layout-table {
  .dt-layout-cell {
    width: 100%;
  }
}
.dt-layout-row {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  .dt-layout-cell {
    > div {
      display: flex;
      align-items: center;
      gap: 8px;
      .dt-paging-button {
        padding: 8px;
        border: none;
        aspect-ratio: 1;
        min-width: 32px;
        border-radius: 4px;
        &:hover,
        &.current {
          background-color: $main-color;
          color: $white-color;
        }
      }
    }
  }
  select,
  input {
    border: 1px solid #eee;
    border-radius: 12px;
    min-height: 40px;
    padding: 8px;
  }
}

.modalSection,
.driversModalSection {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.4);
  z-index: 9999999999;
  display: none;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  &.open {
    display: flex !important;
  }
  .modalBox {
    display: flex;
    width: 800px;
    min-width: 250px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    background: $white-color;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;

    @media (max-width: 768px) {
      padding: 24px 16px;
    }

    .modalHeading {
      display: flex;
      padding-bottom: 24px;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      .modalLabel {
        flex: 1 0 0;
        color: $black-color;
        font-family: MadaniArabic-SemiBold;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
      }
      .closeBtnBox {
        display: flex;
        width: 20px;
        height: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 1px solid $black-color;
        background: $black-color;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        cursor: pointer;
        img {
          width: 8px;
          height: 8px;
          flex-shrink: 0;
          object-fit: cover;
        }
      }
    }
    .modalForm {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 24px;
      .formBody {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        .inputGroup {
          display: flex;
          height: 86px;
          min-width: 300px;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
          align-self: stretch;

          .filepond-multiple {
            width: 100%;
            margin-bottom: 40px;
          }

          label {
            flex: 1 0 0;
            color: $black-color;
            text-align: right;

            font-size: 15px;
            font-style: normal;
            font-weight: 400;
          }
          input,
          select {
            display: flex;
            min-height: 54px;
            padding: 16px;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            background: #efefef;
            border: 1px solid #777;
            border-radius: 12px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;
          }
        }
        .btnsBox {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 16px;
          align-self: stretch;
          margin-top: 8px;
          .btn {
            display: flex;
            padding: 16px 20px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex: 1 0 0;
            border: 1px solid $main-color;
            background: $main-color;
            border-radius: 12px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;
            color: $white-color;
            text-align: right;

            font-size: 15px;
            font-style: normal;
            font-weight: 400;
          }
          .back-link {
            display: flex;
            width: 52px;
            padding: 8px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 11.111px;
            align-self: stretch;
            border: 1px solid #777;
            border-radius: 12px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;
            cursor: pointer;
            img {
              width: 22px;
              height: 16px;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

.driversModalSection {
  .modalBox {
    .tableContainer {
      width: 100%;
    }
    .img {
      width: 100px !important;
      object-fit: cover;
    }
    .linkBtn {
      img {
        width: 20px;
        object-fit: cover;
      }
    }
  }
}
.dashboardPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #f7fafb;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  nav,
  aside {
    box-shadow: 0px 2px 15px -3px rgba(0, 0, 0, 0.07),
      0px 10px 20px -2px rgba(0, 0, 0, 0.04);
  }
}
.mainAndFooterWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 274px;
  flex: 1 0 0;
  width: 100%;

  @media (max-width: 768px) {
    padding-left: unset;
    padding-top: 80px;
  }

  &.grow {
    padding-left: 74px;

    @media (max-width: 768px) {
      padding-left: unset;
    }
  }

  .contentBody {
    padding: 24px 0 !important;
  }

  footer {
    padding: 40px 24px;

    .social {
      gap: 12px !important;
    }
  }
}

aside {
  width: 274px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background-color: #fff;
  z-index: 9999999;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;

  @media (max-width: 768px) {
    width: 100%;
    height: unset;
  }

  &.shrink {
    width: 74px;
    @media (max-width: 768px) {
      width: 100%;
    }
    .navLink {
      color: $main-color;
    }
    .submenuIcon {
      display: none !important;
    }
  }
  .asideIcon {
    display: flex;
    width: 36px;
    height: 36px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    position: absolute;
    right: -40px;
    top: 25px;
    z-index: 99999999;
    background-color: #fefefe;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    box-shadow: 0px 2px 15px -3px rgba(0, 0, 0, 0.07),
      0px 10px 20px -2px rgba(0, 0, 0, 0.04), 0 0 4px 1px #efefef inset;

    @media (max-width: 768px) {
      right: 24px;
      box-shadow: none;
      padding: 0;
    }
    .iconBar {
      width: 28px;
      height: 2px;
      flex-shrink: 0;
      background: $main-color;
      border-radius: 16px;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
    }
  }
  .asideLogo {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    align-self: stretch;
    overflow: hidden;
    img {
      object-fit: cover;
      max-height: 70%;
    }
    .logo-heading {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 3.6px;
      img {
        object-fit: cover;
      }
    }
  }
  .asideNav {
    width: 100%;
    display: flex;
    padding: 12px 0px;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    z-index: 99999;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

    @media (max-width: 768px) {
      position: absolute;
      top: 100%;
      padding: 12px;
      left: -110%;
      background-color: #fefefe;
      box-shadow: 0px 2px 15px -3px rgba(0, 0, 0, 0.07),
        0px 10px 20px -2px rgba(0, 0, 0, 0.04);

      &.open {
        left: 0;
      }
    }

    .navItem {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      gap: 0 12px;
      flex-wrap: wrap;
      overflow-x: hidden;
      &.active,
      &:hover {
        background: $main30-color;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
      }
      .navLink {
        color: $main-color;
      }
      &.open {
        .submenuIcon {
          img {
            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
          }
        }
        .submenu {
          display: flex;
        }
      }
      .navLink {
        width: 100%;
        flex: 1 0 0;
        white-space: nowrap;
        display: flex;
        padding: 8px;
        justify-content: flex-start;
        align-items: center;
        gap: 28px;
        align-self: stretch;
        p {
          margin: 0;
          color: $main-color;
          text-align: right;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          white-space: wrap;
          text-wrap: balance;
        }
        img {
          width: 24px;
          height: 24px;
          object-fit: cover;
        }
      }
      .submenuIcon {
        display: flex;
        width: 12px;
        justify-content: center;
        align-items: flex-end;
        gap: 10px;
        flex-shrink: 0;
        margin-left: 16px;
        cursor: pointer;
        img {
          width: 8px;
          object-fit: cover;
          flex-shrink: 0;
        }
      }
      .submenu {
        position: relative;
        width: 100%;
        display: none;
        padding: 0px 8px 0px 8px;
        flex-direction: column;
        align-items: flex-start;
        top: 0;
        right: 0;
        background-color: $white-color;
        list-style: none;
        .submenuItem {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 8px;
          align-self: stretch;
          flex-direction: column;
          &.active {
            > a {
              color: $main-color !important;
            }
          }
          ul {
            padding-right: 40px;
          }
          a {
            width: 100%;
            padding: 8px 4px;
            color: var(--Gray, #777);
            text-align: right;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
          }
        }
      }
    }
  }
}

.historyContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;

  .historyHeading {
    font-weight: 600;
    position: relative;
    color: $text-color;
  }

  .historyContent {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    .historyBox {
      padding: 16px 24px;
      min-width: 300px;
      width: 100%;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
      position: relative;
      border-radius: 16px;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
      background-color: rgba(0, 181, 29, 0.1);

      &.pay {
        background-color: rgba(241, 86, 64, 0.1);

        .boxStatus {
          color: rgb(241, 86, 64);
        }
      }

      .boxInfo {
        flex: 1 0 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: relative;

        .boxCost {
          display: flex;
          align-items: center;
          gap: 8px;
          font-weight: 800;
          margin: 0;

          span {
            font-weight: normal;
            font-size: 12px;
          }
        }
        .boxDate {
          display: flex;
          align-items: center;
          gap: 16px;
          color: $text-color;
          margin: 0;
        }
      }

      .boxStatus {
        font-weight: 800;
        color: #000;
        cursor: pointer;
      }
    }
  }
}

.subscriptionsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  position: relative;

  @media (max-width: 768px) {
    padding: 8px;
  }

  .subscriptionInputGroup {
    label {
      color: #000;
      background-color: #efefef;
      box-shadow: 0 0 2px 1px #eee;
      width: 100%;
      height: 100%;
      padding: 12px 24px;
      border-radius: 24px;
      -webkit-border-radius: 24px;
      -moz-border-radius: 24px;
      -ms-border-radius: 24px;
      -o-border-radius: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      cursor: pointer;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;

      .planduration {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 18px;
        font-weight: 600;

        span {
          font-size: 24px;
          font-weight: 800;
        }
      }
      .planCostInfo {
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: relative;

        p {
          margin: 0;

          &.planCost {
            font-weight: 600;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 8px;

            span {
              font-size: 12px;
              font-weight: normal;
            }
          }

          &.costPrecentage {
            color: $text-color;
            font-size: 14px;
          }
        }
      }
    }

    input {
      display: none;

      &:checked {
        + label {
          background-color: $main-color;
          color: $white-color;
        }
      }
    }
  }

  .btnBox {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .confirmBtn {
      min-width: 300px;
      padding: 16px;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
      display: none;
      align-items: center;
      justify-content: center;
      color: $white-color;
      background-color: $main-color;
      font-weight: normal;
      font-size: 16px;
      cursor: pointer;
      border: none;
      outline: none;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;

      &.show {
        display: flex;
      }
    }
  }
}
.card-box-content {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .badge {
    background: none;
    display: flex;
    padding: 0;
  }
}
.card-header {
  padding: 12px;
  h5 {
    font-family: "Poppins", sans-serif;
    color: #666b88 !important;
    font-weight: 500;
  }
}

.card-body {
  padding: 24px;
}
